@import "tailwindcss";
@import "@fontsource/poppins";

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes fadeBg {
  0% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.bg-fade {
  animation: fadeBg 1.5s ease-out forwards;
}


/* Color Palette */

/* EFFFFB - light grey */
/* 50D890 - green */
/* 4F98CA - greyish blue */
/* 272727 - dark brown */
/* 111317 - dark grey */